body{
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}


.container{
    max-width: 300px;
    margin: 10vh auto 0 auto;
    box-shadow: 0 0 43px 17px rgba(153, 153, 153, 1);
}

.display{
    text-align: right;
    height: 70px;
    /* line-height: 70px; */
    padding: 16px 8px;
    font-size: 25px;
}

.buttons{
    display: grid;
    border-bottom: 1px solid #999;
    border-left: 1px solid #999;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.buttons div{
    border-top:1px solid #999 ;
    border-right:1px solid #999 ;
}

.button{
    border:0.5px solid #999;
    line-height:60px ;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
}

.button:hover{
    background-color: #323330;
    color: white;
    transition: 0.3s ease-in-out;
}

#equal{
    background-color: #5555ff;
    color: white;
}

.note{
    text-align: center;
    margin-top: 30px;
    font-style:italic ;
}